{
  "openapi": "3.0.3",
  "info": {
    "title": "ReMail 开放 API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://remail.aishop6.com",
      "description": "生产环境"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "高频集成接口，覆盖 API Key 状态、项目查询、统一下单、订单查询和邮件取件。"
    },
    {
      "name": "Resources",
      "description": "自有微软邮箱、域名邮箱、邮件服务器和资源检测接口。"
    },
    {
      "name": "Wallet",
      "description": "钱包余额、账单、充值记录和兑换码充值接口。"
    }
  ],
  "components": {
    "securitySchemes": {
      "remailApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "填入 rk- 开头的 API Key 即可，Swagger UI 会自动加上 Bearer 前缀。"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数错误。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "缺少或无效认证。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "无权访问该资源。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "资源不存在。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "请求与已有业务事实冲突。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "业务校验未通过。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "请求体过大。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "请求超过认证凭证限制。",
        "headers": {
          "Retry-After": {
            "description": "可重试前需等待的秒数。",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "所需服务暂时不可用。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "服务端异常。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "稳定业务错误码，可选。"
          },
          "message": {
            "type": "string",
            "example": "Invalid request parameters."
          },
          "requestId": {
            "type": "string",
            "example": "8f7a2f9c-0d4f-4a9c-8e47-9af7a2d6c931"
          },
          "fields": {
            "type": "object",
            "description": "字段级校验错误，可选。",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "message",
          "requestId"
        ],
        "additionalProperties": false
      },
      "APIKeyProfileResponse": {
        "type": "object",
        "properties": {
          "apiKey": {
            "$ref": "#/components/schemas/APIKeyProfile"
          }
        },
        "required": [
          "apiKey"
        ]
      },
      "APIKeyProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 18
          },
          "name": {
            "type": "string",
            "example": "订单服务专用密钥"
          },
          "keyPrefix": {
            "type": "string",
            "example": "rk-550e8400-e2"
          },
          "enabled": {
            "type": "boolean",
            "example": true
          },
          "concurrencyLimit": {
            "type": "integer",
            "nullable": true
          },
          "quotaLimit": {
            "type": "integer",
            "nullable": true,
            "format": "int64"
          },
          "quotaUsed": {
            "type": "integer",
            "format": "int64",
            "example": 372
          },
          "remainingQuota": {
            "type": "integer",
            "nullable": true,
            "format": "int64"
          },
          "activeRequests": {
            "type": "integer",
            "example": 0
          },
          "expireAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "keyPrefix",
          "enabled",
          "concurrencyLimit",
          "quotaUsed",
          "activeRequests",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "example": 36
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "facets": {
            "$ref": "#/components/schemas/ProjectFacets"
          }
        },
        "required": [
          "items",
          "total",
          "offset",
          "limit"
        ]
      },
      "ProjectDetailResponse": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectProduct"
            }
          },
          "mailRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectMailRule"
            }
          }
        },
        "required": [
          "project",
          "products"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1001
          },
          "name": {
            "type": "string",
            "example": "Microsoft 账号验证码"
          },
          "targetPlatform": {
            "type": "string",
            "example": "Microsoft"
          },
          "logoUrl": {
            "type": "string",
            "example": "/v1/projects/logos/microsoft.png"
          },
          "description": {
            "type": "string",
            "example": "Microsoft 账号注册与登录验证码接收。"
          },
          "status": {
            "type": "string",
            "enum": [
              "reviewing",
              "listed",
              "delisted"
            ],
            "x-enum-varnames": [
              "Reviewing",
              "Listed",
              "Delisted"
            ]
          },
          "accessType": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "x-enum-varnames": [
              "Public",
              "Private"
            ]
          },
          "owner": {
            "$ref": "#/components/schemas/ProjectOwner"
          },
          "applicantUserId": {
            "type": "integer",
            "format": "int64"
          },
          "reviewReason": {
            "type": "string"
          },
          "looseMatch": {
            "type": "boolean",
            "example": false
          },
          "productCount": {
            "type": "integer",
            "example": 2
          },
          "mailRuleCount": {
            "type": "integer",
            "example": 3
          },
          "supportsDotAlias": {
            "type": "boolean"
          },
          "supportsPlusAlias": {
            "type": "boolean"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectProductSummary"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "targetPlatform",
          "status",
          "accessType",
          "looseMatch",
          "productCount",
          "mailRuleCount",
          "supportsDotAlias",
          "supportsPlusAlias",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectOwner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "groupName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "supplier",
              "admin",
              "super_admin"
            ],
            "x-enum-varnames": [
              "User",
              "Supplier",
              "Admin",
              "SuperAdmin"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "enabled"
        ],
        "additionalProperties": false
      },
      "ProjectProductSummary": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "microsoft",
              "domain",
              "gmail",
              "gmail_variant",
              "icloud"
            ],
            "x-enum-varnames": [
              "Microsoft",
              "Domain",
              "Gmail",
              "GmailVariant",
              "ICloud"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "x-enum-varnames": [
              "Enabled",
              "Disabled"
            ]
          },
          "codeEnabled": {
            "type": "boolean",
            "example": true
          },
          "purchaseEnabled": {
            "type": "boolean",
            "example": true
          },
          "codePrice": {
            "type": "string",
            "example": "0.80"
          },
          "purchasePrice": {
            "type": "string",
            "example": "5.00"
          },
          "priceMultiplier": {
            "type": "string",
            "example": "0.80",
            "pattern": "^(0(?:\\.\\d{1,6})?|1(?:\\.0{1,6})?)$"
          },
          "codeWindowMinutes": {
            "type": "integer",
            "example": 10
          },
          "activationWindowMinutes": {
            "type": "integer",
            "example": 30
          },
          "warrantyMinutes": {
            "type": "integer",
            "example": 1440
          },
          "totalAvailable": {
            "type": "integer",
            "format": "int64",
            "example": 815
          },
          "publicAvailable": {
            "type": "integer",
            "format": "int64",
            "example": 300
          },
          "codeAvailable": {
            "type": "integer",
            "format": "int64"
          },
          "codePublicAvailable": {
            "type": "integer",
            "format": "int64"
          },
          "purchaseAvailable": {
            "type": "integer",
            "format": "int64"
          },
          "purchasePublicAvailable": {
            "type": "integer",
            "format": "int64"
          },
          "suffixes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductSuffixInventory"
            }
          }
        },
        "required": [
          "type",
          "status",
          "codeEnabled",
          "purchaseEnabled",
          "codePrice",
          "purchasePrice",
          "priceMultiplier",
          "codeWindowMinutes",
          "activationWindowMinutes",
          "warrantyMinutes",
          "totalAvailable",
          "publicAvailable"
        ]
      },
      "ProductSuffixInventory": {
        "type": "object",
        "properties": {
          "suffix": {
            "type": "string",
            "example": "com.cn",
            "description": "Selectable inventory value. Microsoft products expose exact email domains. Domain products expose public suffixes without a leading @ (for example com or com.cn) and each owned private domain as a full domain (for example mydomain.com). Full mailbox addresses are never returned."
          },
          "totalAvailable": {
            "type": "integer",
            "format": "int64",
            "example": 120
          },
          "publicAvailable": {
            "type": "integer",
            "format": "int64",
            "example": 80
          }
        },
        "required": [
          "suffix",
          "totalAvailable",
          "publicAvailable"
        ]
      },
      "ProjectProduct": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectProductSummary"
          },
          {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "integer",
                "format": "int64",
                "example": 1001
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "projectId",
              "createdAt",
              "updatedAt"
            ]
          }
        ]
      },
      "ProjectMailRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "projectId": {
            "type": "integer",
            "format": "int64"
          },
          "ruleType": {
            "type": "string",
            "enum": [
              "sender",
              "recipient",
              "subject",
              "body"
            ],
            "x-enum-varnames": [
              "Sender",
              "Recipient",
              "Subject",
              "Body"
            ]
          },
          "pattern": {
            "type": "string",
            "example": "\\b(\\d{6,8})\\b"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "ruleType",
          "pattern",
          "enabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectFacets": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          },
          "access": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          },
          "match": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          },
          "productType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          }
        },
        "required": [
          "status",
          "access",
          "match",
          "productType"
        ],
        "additionalProperties": false
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64",
            "example": 1001
          },
          "emailSuffix": {
            "type": "string",
            "example": "outlook.com",
            "description": "商品选择后缀。gmail.com 选择谷歌邮箱（本地主邮箱或点别名），gmail_variant 选择仅分配加号别名的 Gmail 变种商品（它不是实际域名），icloud.com 选择苹果邮箱；outlook.com 等具体后缀精确选择对应库存，特殊值 outlook 会在有货的微软白名单后缀中按库存量加权随机，特殊值 domain 会在有货的域名后缀中按库存量加权随机。private_first 随机时先在自有库存内按数量加权；只有自有后缀无货时才使用公共库存。private_first 下也可指定当前用户自有的完整域名，例如 mydomain.com。不接受完整邮箱地址。"
          }
        },
        "required": [
          "projectId",
          "emailSuffix"
        ],
        "additionalProperties": false
      },
      "CreateOrderBatchRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64",
            "example": 1001
          },
          "emailSuffix": {
            "type": "string",
            "example": "outlook.com",
            "description": "商品选择后缀。gmail.com 选择谷歌邮箱（本地主邮箱或点别名），gmail_variant 选择仅分配加号别名的 Gmail 变种商品（它不是实际域名），icloud.com 选择苹果邮箱；outlook.com 等具体后缀精确选择对应库存，特殊值 outlook 会在有货的微软白名单后缀中按库存量加权随机，特殊值 domain 会在有货的域名后缀中按库存量加权随机。private_first 随机时先在自有库存内按数量加权；只有自有后缀无货时才使用公共库存。private_first 下也可指定当前用户自有的完整域名，例如 mydomain.com。不接受完整邮箱地址。 批量下单只随机一次，所有子订单固定使用该后缀；该后缀库存耗尽后不再随机其他后缀。"
          },
          "quantity": {
            "type": "integer",
            "minimum": 2,
            "maximum": 100,
            "example": 5
          }
        },
        "required": [
          "projectId",
          "emailSuffix",
          "quantity"
        ],
        "additionalProperties": false
      },
      "OrderBatchItemErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "insufficient_balance",
              "insufficient_inventory",
              "upstream_price_protected",
              "upstream_unavailable",
              "idempotency_conflict",
              "temporarily_unavailable"
            ],
            "x-enum-varnames": [
              "InsufficientBalance",
              "InsufficientInventory",
              "UpstreamPriceProtected",
              "UpstreamUnavailable",
              "IdempotencyConflict",
              "TemporarilyUnavailable"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "CreateOrderBatchItemResponse": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "succeeded",
              "failed"
            ],
            "x-enum-varnames": [
              "Succeeded",
              "Failed"
            ]
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "error": {
            "$ref": "#/components/schemas/OrderBatchItemErrorResponse"
          }
        },
        "required": [
          "index",
          "status"
        ],
        "additionalProperties": false
      },
      "CreateOrderBatchResponse": {
        "type": "array",
        "minItems": 2,
        "maxItems": 100,
        "items": {
          "$ref": "#/components/schemas/CreateOrderBatchItemResponse"
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "example": 120
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "nextAfterId": {
            "type": "integer",
            "format": "int64",
            "example": 3019
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "limit": {
            "type": "integer",
            "example": 20
          }
        },
        "required": [
          "items",
          "total",
          "offset",
          "hasNext",
          "limit"
        ]
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3021
          },
          "orderNo": {
            "type": "string",
            "example": "R20260709135800983"
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "projectId": {
            "type": "integer",
            "format": "int64",
            "example": 1001
          },
          "projectName": {
            "type": "string",
            "example": "Microsoft 账号验证码"
          },
          "projectLogoUrl": {
            "type": "string"
          },
          "productType": {
            "type": "string",
            "enum": [
              "microsoft",
              "domain",
              "random",
              "gmail",
              "gmail_variant",
              "icloud"
            ],
            "x-enum-varnames": [
              "Microsoft",
              "Domain",
              "Random",
              "Gmail",
              "GmailVariant",
              "ICloud"
            ]
          },
          "serviceMode": {
            "type": "string",
            "enum": [
              "code",
              "purchase"
            ],
            "x-enum-varnames": [
              "Code",
              "Purchase"
            ]
          },
          "supplyPolicy": {
            "type": "string",
            "enum": [
              "private_first",
              "public_only"
            ],
            "x-enum-varnames": [
              "PrivateFirst",
              "PublicOnly"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_payment",
              "paid",
              "active",
              "completed",
              "refunded",
              "failed",
              "closed"
            ],
            "x-enum-varnames": [
              "PendingPayment",
              "Paid",
              "Active",
              "Completed",
              "Refunded",
              "Failed",
              "Closed"
            ]
          },
          "failureCode": {
            "type": "string",
            "enum": [
              "unknown",
              "insufficient_inventory",
              "insufficient_balance",
              "allocation_failed",
              "service_token_failed",
              "activation_failed"
            ],
            "x-enum-varnames": [
              "Unknown",
              "InsufficientInventory",
              "InsufficientBalance",
              "AllocationFailed",
              "ServiceTokenFailed",
              "ActivationFailed"
            ]
          },
          "payAmount": {
            "type": "string",
            "example": "0.80"
          },
          "refundAmount": {
            "type": "string",
            "example": "0.00"
          },
          "allocationType": {
            "type": "string",
            "enum": [
              "microsoft",
              "domain",
              "gmail",
              "icloud"
            ],
            "x-enum-varnames": [
              "Microsoft",
              "Domain",
              "Gmail",
              "ICloud"
            ]
          },
          "allocationId": {
            "type": "integer",
            "format": "int64",
            "example": 991
          },
          "deliveryEmail": {
            "type": "string",
            "example": "mateo.richards@outlook.com"
          },
          "receiveStartedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "receiveUntil": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "activatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "afterSaleUntil": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "clientChannel": {
            "type": "string",
            "enum": [
              "console",
              "api_key"
            ],
            "x-enum-varnames": [
              "Console",
              "APIKey"
            ]
          },
          "apiKeyId": {
            "type": "integer",
            "nullable": true,
            "format": "int64"
          },
          "serviceCleanupStatus": {
            "type": "string",
            "enum": [
              "none",
              "succeeded",
              "partial_failure"
            ],
            "x-enum-varnames": [
              "None",
              "Succeeded",
              "PartialFailure"
            ]
          },
          "serviceToken": {
            "type": "string",
            "example": "st_550e8400-e29b-41d4-a716-446655440000"
          },
          "hasDelivery": {
            "type": "boolean",
            "example": true
          },
          "verificationCode": {
            "type": "string",
            "example": "829104"
          },
          "lastMailReceivedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "gmailPassword": {
            "type": "string"
          },
          "gmailTwoFactorSecret": {
            "type": "string"
          },
          "gmailAppPassword": {
            "type": "string"
          },
          "archivedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "orderNo",
          "userId",
          "projectId",
          "productType",
          "serviceMode",
          "supplyPolicy",
          "status",
          "payAmount",
          "refundAmount",
          "deliveryEmail",
          "clientChannel",
          "serviceCleanupStatus",
          "hasDelivery",
          "createdAt",
          "updatedAt"
        ]
      },
      "PickupMailResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailMessage"
            }
          },
          "fetch": {
            "$ref": "#/components/schemas/FetchState"
          }
        },
        "required": [
          "items"
        ]
      },
      "PickupCredentialRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 1,
            "maxLength": 254
          },
          "token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          }
        },
        "required": [
          "email",
          "token"
        ],
        "additionalProperties": false
      },
      "PickupBatchRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 2,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/PickupCredentialRequest"
            }
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      },
      "PickupBatchItemErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "invalid_request",
              "credential_invalid",
              "order_unavailable",
              "service_unavailable",
              "internal_error"
            ],
            "x-enum-varnames": [
              "InvalidRequest",
              "CredentialInvalid",
              "OrderUnavailable",
              "ServiceUnavailable",
              "InternalError"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "PickupBatchItemResponse": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "succeeded",
              "failed"
            ],
            "x-enum-varnames": [
              "Succeeded",
              "Failed"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PickupMailResponse"
          },
          "error": {
            "$ref": "#/components/schemas/PickupBatchItemErrorResponse"
          }
        },
        "required": [
          "index",
          "status"
        ],
        "additionalProperties": false
      },
      "PickupBatchResponse": {
        "type": "array",
        "minItems": 2,
        "maxItems": 100,
        "items": {
          "$ref": "#/components/schemas/PickupBatchItemResponse"
        }
      },
      "MailMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "example": 5012,
            "description": "存在正 ID 时可调用单封邮件正文接口；上游合成项不返回 ID。"
          },
          "sender": {
            "type": "string",
            "example": "account-security-noreply@accountprotection.microsoft.com"
          },
          "recipient": {
            "type": "string",
            "example": "mateo.richards@outlook.com"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string",
            "example": "Microsoft account security code"
          },
          "bodyPreview": {
            "type": "string",
            "example": "Your security code is 829104."
          },
          "verificationCode": {
            "type": "string",
            "example": "829104"
          }
        },
        "required": [
          "sender",
          "recipient",
          "receivedAt",
          "subject",
          "bodyPreview"
        ]
      },
      "MailMessageDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MailMessage"
          },
          {
            "type": "object",
            "properties": {
              "body": {
                "type": "string",
                "example": "Your security code is 829104."
              }
            },
            "required": [
              "body"
            ]
          }
        ]
      },
      "FetchState": {
        "type": "object",
        "properties": {
          "lastJobId": {
            "type": "integer",
            "nullable": true,
            "format": "int64"
          },
          "lastStatus": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "normal",
              "abnormal"
            ],
            "x-enum-varnames": [
              "Pending",
              "Processing",
              "Normal",
              "Abnormal"
            ]
          },
          "lastSubmittedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "lastSuccessAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "lastReceivedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "nextFetchAllowedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "lastSafeError": {
            "type": "string"
          }
        },
        "required": [
          "lastStatus"
        ]
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "consumerBalance": {
            "type": "string",
            "example": "168.50"
          },
          "supplierAvailable": {
            "type": "string",
            "example": "0.00"
          },
          "supplierFrozen": {
            "type": "string",
            "example": "0.00"
          },
          "totalRecharged": {
            "type": "string",
            "example": "560.00"
          },
          "historicalSpend": {
            "type": "string",
            "example": "391.20"
          },
          "orderCount": {
            "type": "integer",
            "format": "int64",
            "example": 486
          },
          "supplierAllocationCount": {
            "type": "integer",
            "format": "int64",
            "example": 0
          },
          "supplierFulfillmentSuccessRate": {
            "type": "number",
            "format": "double",
            "example": 0
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "userId",
          "consumerBalance",
          "supplierAvailable",
          "supplierFrozen",
          "totalRecharged",
          "historicalSpend",
          "orderCount",
          "supplierAllocationCount",
          "supplierFulfillmentSuccessRate",
          "updatedAt"
        ]
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "nextAfterId": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "limit": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "hasNext",
          "limit"
        ]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "transactionNo": {
            "type": "string",
            "example": "TX20260709140100188"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "recharge",
              "debit",
              "refund",
              "freeze",
              "credit",
              "withdrawal",
              "manual_adjustment",
              "card_redeem",
              "transfer"
            ],
            "x-enum-varnames": [
              "Recharge",
              "Debit",
              "Refund",
              "Freeze",
              "Credit",
              "Withdrawal",
              "ManualAdjustment",
              "CardRedeem",
              "Transfer"
            ]
          },
          "balanceBucket": {
            "type": "string",
            "enum": [
              "consumer",
              "supplier_available",
              "supplier_frozen"
            ],
            "x-enum-varnames": [
              "Consumer",
              "SupplierAvailable",
              "SupplierFrozen"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ],
            "x-enum-varnames": [
              "Incoming",
              "Outgoing"
            ]
          },
          "amount": {
            "type": "string",
            "example": "0.80"
          },
          "balanceBefore": {
            "type": "string",
            "example": "169.30"
          },
          "balanceAfter": {
            "type": "string",
            "example": "168.50"
          },
          "bizType": {
            "type": "string",
            "example": "order"
          },
          "bizId": {
            "type": "string",
            "example": "R20260709135800983"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "transactionNo",
          "userId",
          "transactionType",
          "balanceBucket",
          "direction",
          "amount",
          "balanceBefore",
          "balanceAfter",
          "bizType",
          "bizId",
          "createdAt"
        ]
      },
      "RechargeListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recharge"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "total",
          "offset",
          "limit"
        ]
      },
      "Recharge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "rechargeNo": {
            "type": "string",
            "example": "RC20260709141500920"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "alipay",
              "epusdt_usdt_tron"
            ],
            "x-enum-varnames": [
              "Alipay",
              "EPUSDTUSDTTRON"
            ]
          },
          "creditedPoints": {
            "type": "string",
            "example": "10000"
          },
          "status": {
            "type": "string",
            "enum": [
              "paying",
              "callback",
              "reconciled",
              "credited",
              "failed"
            ],
            "x-enum-varnames": [
              "Paying",
              "Callback",
              "Reconciled",
              "Credited",
              "Failed"
            ]
          },
          "gatewayTradeNo": {
            "type": "string"
          },
          "failureReason": {
            "type": "string"
          },
          "queryAttempts": {
            "type": "integer",
            "minimum": 0
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          },
          "reconciledAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "rechargeNo",
          "userId",
          "paymentMethod",
          "creditedPoints",
          "status",
          "queryAttempts",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "RedeemCardRequest": {
        "type": "object",
        "properties": {
          "cardKey": {
            "type": "string",
            "example": "RKCD-2026-8P2M-9Q4X"
          }
        },
        "required": [
          "cardKey"
        ]
      },
      "RedeemCardResponse": {
        "type": "object",
        "properties": {
          "wallet": {
            "$ref": "#/components/schemas/Wallet"
          },
          "transaction": {
            "$ref": "#/components/schemas/Transaction"
          },
          "card": {
            "$ref": "#/components/schemas/CardKey"
          }
        },
        "required": [
          "wallet",
          "transaction",
          "card"
        ]
      },
      "CardKey": {
        "type": "object",
        "properties": {
          "cardKey": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "x-enum-varnames": [
              "Enabled",
              "Disabled"
            ]
          },
          "maxRedemptions": {
            "type": "integer"
          },
          "redeemedCount": {
            "type": "integer"
          },
          "expireAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdByUserId": {
            "type": "integer",
            "nullable": true,
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "cardKey",
          "amount",
          "status",
          "maxRedemptions",
          "redeemedCount",
          "expireAt",
          "createdByUserId",
          "createdAt",
          "updatedAt"
        ]
      },
      "ResourceListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "nextAfterId": {
            "type": "integer",
            "format": "int64"
          },
          "facets": {
            "$ref": "#/components/schemas/ResourceListFacets"
          }
        },
        "required": [
          "items",
          "offset",
          "limit"
        ],
        "additionalProperties": false
      },
      "ResourceListFacets": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ResourceFacetCounts"
          },
          "private": {
            "$ref": "#/components/schemas/ResourceBooleanFacets"
          },
          "longLived": {
            "$ref": "#/components/schemas/ResourceBooleanFacets"
          },
          "graphAvailable": {
            "$ref": "#/components/schemas/ResourceBooleanFacets"
          },
          "suffixes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceKeyFacet"
            }
          },
          "tlds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceKeyFacet"
            }
          }
        },
        "required": [
          "status",
          "private",
          "longLived",
          "graphAvailable",
          "suffixes",
          "tlds"
        ],
        "additionalProperties": false
      },
      "ResourceFacetCounts": {
        "type": "object",
        "properties": {
          "all": {
            "type": "integer",
            "format": "int64"
          },
          "normal": {
            "type": "integer",
            "format": "int64"
          },
          "pending": {
            "type": "integer",
            "format": "int64"
          },
          "validating": {
            "type": "integer",
            "format": "int64"
          },
          "identifying": {
            "type": "integer",
            "format": "int64"
          },
          "abnormal": {
            "type": "integer",
            "format": "int64"
          },
          "disabled": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "all",
          "normal",
          "pending",
          "validating",
          "identifying",
          "abnormal",
          "disabled"
        ],
        "additionalProperties": false
      },
      "ResourceBooleanFacets": {
        "type": "object",
        "properties": {
          "all": {
            "type": "integer",
            "format": "int64"
          },
          "yes": {
            "type": "integer",
            "format": "int64"
          },
          "no": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "all",
          "yes",
          "no"
        ],
        "additionalProperties": false
      },
      "ResourceKeyFacet": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "key",
          "count"
        ],
        "additionalProperties": false
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 9081
          },
          "type": {
            "type": "string",
            "enum": [
              "microsoft",
              "domain"
            ],
            "x-enum-varnames": [
              "Microsoft",
              "Domain"
            ]
          },
          "ownerId": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "validating",
              "identifying",
              "normal",
              "abnormal",
              "disabled",
              "deleted"
            ],
            "x-enum-varnames": [
              "Pending",
              "Validating",
              "Identifying",
              "Normal",
              "Abnormal",
              "Disabled",
              "Deleted"
            ]
          },
          "forSale": {
            "type": "boolean",
            "nullable": true
          },
          "longLived": {
            "type": "boolean",
            "nullable": true
          },
          "graphAvailable": {
            "type": "boolean",
            "nullable": true
          },
          "lastSafeError": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "example": "mateo.richards@outlook.com"
          },
          "domain": {
            "type": "string",
            "example": "example-mail.com"
          },
          "domainTld": {
            "type": "string",
            "example": "com"
          },
          "mailServerId": {
            "type": "integer",
            "format": "int64"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "not_sale",
              "sale",
              "binding"
            ],
            "x-enum-varnames": [
              "NotSale",
              "Sale",
              "Binding"
            ]
          },
          "mailboxCount": {
            "type": "integer",
            "example": 10000
          },
          "orderCount": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "successfulOrderCount": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "lastAllocatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "ownerId",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "ResourceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "microsoft",
              "domain"
            ],
            "x-enum-varnames": [
              "Microsoft",
              "Domain"
            ]
          },
          "emailAddress": {
            "type": "string"
          },
          "forSale": {
            "type": "boolean"
          },
          "longLived": {
            "type": "boolean"
          },
          "graphAvailable": {
            "type": "boolean"
          },
          "qualityScore": {
            "type": "integer"
          },
          "domain": {
            "type": "string"
          },
          "mailServerId": {
            "type": "integer",
            "format": "int64"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "not_sale",
              "sale",
              "binding"
            ],
            "x-enum-varnames": [
              "NotSale",
              "Sale",
              "Binding"
            ]
          },
          "allowNewBindings": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "validating",
              "identifying",
              "normal",
              "abnormal",
              "disabled",
              "deleted"
            ],
            "x-enum-varnames": [
              "Pending",
              "Validating",
              "Identifying",
              "Normal",
              "Abnormal",
              "Disabled",
              "Deleted"
            ]
          },
          "lastSafeError": {
            "type": "string"
          },
          "lastAllocatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "MicrosoftResourceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "microsoft"
            ],
            "x-enum-varnames": [
              "Microsoft"
            ]
          },
          "emailAddress": {
            "type": "string"
          },
          "forSale": {
            "type": "boolean"
          },
          "longLived": {
            "type": "boolean"
          },
          "graphAvailable": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "validating",
              "identifying",
              "normal",
              "abnormal",
              "disabled",
              "deleted"
            ],
            "x-enum-varnames": [
              "Pending",
              "Validating",
              "Identifying",
              "Normal",
              "Abnormal",
              "Disabled",
              "Deleted"
            ]
          },
          "qualityScore": {
            "type": "integer"
          },
          "lastSafeError": {
            "type": "string"
          },
          "lastAllocatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "emailAddress",
          "forSale",
          "longLived",
          "graphAvailable",
          "status",
          "qualityScore",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "DomainResourceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "domain"
            ],
            "x-enum-varnames": [
              "Domain"
            ]
          },
          "domain": {
            "type": "string"
          },
          "mailServerId": {
            "type": "integer",
            "format": "int64"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "not_sale",
              "sale",
              "binding"
            ],
            "x-enum-varnames": [
              "NotSale",
              "Sale",
              "Binding"
            ]
          },
          "allowNewBindings": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "validating",
              "normal",
              "abnormal",
              "disabled",
              "deleted"
            ],
            "x-enum-varnames": [
              "Pending",
              "Validating",
              "Normal",
              "Abnormal",
              "Disabled",
              "Deleted"
            ]
          },
          "lastSafeError": {
            "type": "string"
          },
          "lastAllocatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "domain",
          "mailServerId",
          "purpose",
          "allowNewBindings",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "ImportAcceptedResponse": {
        "type": "object",
        "properties": {
          "importId": {
            "type": "integer",
            "format": "int64"
          },
          "imported": {
            "type": "integer"
          }
        },
        "required": [
          "importId",
          "imported"
        ]
      },
      "ImportStatusResponse": {
        "type": "object",
        "properties": {
          "importId": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "imported",
              "failed"
            ],
            "x-enum-varnames": [
              "Processing",
              "Imported",
              "Failed"
            ]
          },
          "imported": {
            "type": "integer"
          },
          "lastSafeError": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "importId",
          "status",
          "imported",
          "createdAt",
          "updatedAt"
        ]
      },
      "ResourceValidationsResponse": {
        "type": "object",
        "properties": {
          "requested": {
            "type": "integer"
          },
          "queued": {
            "type": "integer"
          }
        },
        "required": [
          "requested",
          "queued"
        ]
      },
      "ValidateResourcesRequest": {
        "type": "object",
        "properties": {
          "selection": {
            "$ref": "#/components/schemas/ResourceBulkSelection"
          }
        },
        "required": [
          "selection"
        ]
      },
      "ResourceBulkSelection": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "ids",
              "filter"
            ],
            "x-enum-varnames": [
              "IDs",
              "Filter"
            ]
          },
          "resourceIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "filter": {
            "type": "object",
            "properties": {
              "resourceType": {
                "type": "string",
                "enum": [
                  "all",
                  "microsoft",
                  "domain"
                ],
                "x-enum-varnames": [
                  "All",
                  "Microsoft",
                  "Domain"
                ]
              },
              "search": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "validating",
                  "identifying",
                  "normal",
                  "abnormal",
                  "disabled",
                  "deleted"
                ],
                "x-enum-varnames": [
                  "Pending",
                  "Validating",
                  "Identifying",
                  "Normal",
                  "Abnormal",
                  "Disabled",
                  "Deleted"
                ]
              },
              "forSale": {
                "type": "boolean",
                "nullable": true
              },
              "longLived": {
                "type": "boolean",
                "nullable": true
              },
              "graphAvailable": {
                "type": "boolean",
                "nullable": true
              }
            }
          }
        },
        "required": [
          "mode"
        ]
      },
      "MailServerListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailServer"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "total",
          "offset",
          "limit"
        ]
      },
      "MailServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "serverAddress": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "disabled"
            ],
            "x-enum-varnames": [
              "Online",
              "Offline",
              "Disabled"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "serverAddress",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CreateMailServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "mx-01"
          },
          "serverAddress": {
            "type": "string",
            "example": "mx01.example-mail.com"
          },
          "mxRecord": {
            "type": "string"
          },
          "spfRecord": {
            "type": "string"
          },
          "dkimRecord": {
            "type": "string"
          },
          "dmarcRecord": {
            "type": "string"
          },
          "ptrRecord": {
            "type": "string"
          }
        },
        "required": [
          "serverAddress"
        ]
      },
      "CreateDomainRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "example-mail.com"
          },
          "mailServerId": {
            "type": "integer",
            "format": "int64",
            "example": 12
          },
          "purpose": {
            "type": "string",
            "enum": [
              "not_sale"
            ],
            "x-enum-varnames": [
              "NotSale"
            ]
          }
        },
        "required": [
          "domain"
        ]
      },
      "MailboxListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mailbox"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "total",
          "offset",
          "limit"
        ]
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "normal",
              "disabled"
            ],
            "x-enum-varnames": [
              "Normal",
              "Disabled"
            ]
          },
          "lastAllocatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "email",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/v1/open/apikey/profile": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getApiKeyProfile",
        "summary": "查询当前 API Key",
        "description": "返回当前 API Key 的额度、并发、过期时间和使用状态。",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyProfileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/projects": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "listProjects",
        "summary": "查询项目",
        "description": "查询当前用户可见的公共项目、已授权私有项目和自己的申请记录。",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "分页偏移量。"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页数量，最大 100。"
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "visible",
                "mine"
              ],
              "x-enum-varnames": [
                "Visible",
                "Mine"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "reviewing",
                "listed",
                "delisted"
              ],
              "x-enum-varnames": [
                "Reviewing",
                "Listed",
                "Delisted"
              ]
            }
          },
          {
            "name": "accessType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ],
              "x-enum-varnames": [
                "Public",
                "Private"
              ]
            }
          },
          {
            "name": "productType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "microsoft",
                "domain",
                "gmail",
                "gmail_variant",
                "icloud"
              ],
              "x-enum-varnames": [
                "Microsoft",
                "Domain",
                "Gmail",
                "GmailVariant",
                "ICloud"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/projects/{projectId}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getProject",
        "summary": "查询项目详情",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/orders": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "createOrder",
        "summary": "统一下单",
        "description": "通过查询参数指定长效购买或短效接码，以及库存策略。",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "幂等键。相同 API Key 下，相同幂等键不会重复创建业务事实。"
          },
          {
            "name": "serviceMode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "purchase",
                "code"
              ],
              "x-enum-varnames": [
                "Purchase",
                "Code"
              ]
            },
            "description": "purchase 为长效购买，code 为短效接码。"
          },
          {
            "name": "supply",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "private_first",
                "public_only"
              ],
              "x-enum-varnames": [
                "PrivateFirst",
                "PublicOnly"
              ]
            },
            "description": "默认 private_first。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "201": {
            "description": "资源已创建。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "listOrders",
        "summary": "查询订单",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "afterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "description": "上一页最后一条记录的 ID。"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页数量，最大 100。"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending_payment",
                "paid",
                "active",
                "completed",
                "refunded",
                "failed",
                "closed"
              ],
              "x-enum-varnames": [
                "PendingPayment",
                "Paid",
                "Active",
                "Completed",
                "Refunded",
                "Failed",
                "Closed"
              ]
            }
          },
          {
            "name": "serviceMode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "purchase",
                "code"
              ],
              "x-enum-varnames": [
                "Purchase",
                "Code"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/orders/batch": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "createOrderBatch",
        "summary": "批量下单",
        "description": "创建 2 到 100 个相互独立的订单，并按输入索引返回逐项成功或失败结果；相同幂等键重试会收敛到相同的完整批次结果。",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "幂等键。相同 API Key 下，相同幂等键不会重复创建业务事实。"
          },
          {
            "name": "serviceMode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "purchase",
                "code"
              ],
              "x-enum-varnames": [
                "Purchase",
                "Code"
              ]
            },
            "description": "purchase 为长效购买，code 为短效接码。"
          },
          {
            "name": "supply",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "private_first",
                "public_only"
              ],
              "x-enum-varnames": [
                "PrivateFirst",
                "PublicOnly"
              ]
            },
            "description": "默认 private_first。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "资源已创建。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "批次完成，但一个或多个订单项失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/orders/{orderNo}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getOrder",
        "summary": "查询订单详情",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "orderNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/pickup": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "pickupMessages",
        "summary": "取件读取邮件",
        "description": "取件接口不使用 API Key。持有交付邮箱和服务凭证即可访问对应订单的邮件结果。",
        "security": [],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupMailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/pickup/batch": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "pickupMessagesBatch",
        "summary": "批量取件读取邮件",
        "description": "一次读取 2 到 100 组邮箱和服务凭证，响应数组与请求 items 顺序一致。单项失败不丢弃其他成功项；请求体中的服务凭证不得记录到日志。",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "批次完成，但一个或多个取件项失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/pickup/messages/{messageId}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getPickupMessage",
        "summary": "读取单封邮件正文",
        "description": "取件接口不使用 API Key。仅允许读取当前服务凭证所属订单的邮件。",
        "security": [],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailMessageDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/wallet": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "getWallet",
        "summary": "查询钱包",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/wallet/transactions": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "listWalletTransactions",
        "summary": "查询钱包流水",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "afterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "description": "上一页最后一条记录的 ID。"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页数量，最大 100。"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/recharges": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "listRecharges",
        "summary": "查询充值记录",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "分页偏移量。"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页数量，最大 100。"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "paying",
                "callback",
                "reconciled",
                "credited",
                "failed"
              ],
              "x-enum-varnames": [
                "Paying",
                "Callback",
                "Reconciled",
                "Credited",
                "Failed"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RechargeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/cards/redeem": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "redeemCard",
        "summary": "兑换码充值",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "幂等键。相同 API Key 下，相同幂等键不会重复创建业务事实。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemCardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "listResources",
        "summary": "查询自有资源",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "分页偏移量。"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页数量，最大 100。"
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "owned"
              ],
              "x-enum-varnames": [
                "Owned"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "microsoft",
                "domain"
              ],
              "x-enum-varnames": [
                "All",
                "Microsoft",
                "Domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/open/resources/{resourceId}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "getResource",
        "summary": "查询资源详情",
        "security": [
          {
            "remailApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
[...]
